In [15]:
import os
import numpy as np 
import pandas as pd
from scipy import stats

In [8]:
df = pd.read_csv('dz4.csv', sep = ';', index_col = False)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4680 entries, 0 to 4679
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  4680 non-null   int64
 1   cheks    4680 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 73.3 KB

In [10]:
df.describe()

           user_id        cheks
count  4680.000000  4680.000000
mean    504.374145  1508.605343
std     290.211063   297.485336
min       1.000000   533.478182
25%     255.000000  1298.682208
50%     506.000000  1509.530524
75%     764.000000  1712.789504
max    1000.000000  2471.163284

In [11]:
df

      user_id        cheks
0           1  1087.861666
1           1  1069.716544
2           2  1503.019248
3           2  1516.258353
4           2  1520.688252
...       ...          ...
4675      999  1412.313865
4676      999  1401.475615
4677      999  1394.780540
4678     1000  1357.734213
4679     1000  1381.487506

[4680 rows x 2 columns]

### 2.1 (2 балла) Проверить, что распределение p-value на А/А-тестах для среднего чека (глобальное среднее) в по-юзерном тесте далеко не идеально в t-критерии, сделать вывод о применимости t-тест.

In [12]:
from statsmodels.stats.weightstats import ttest_ind

In [13]:
help(ttest_ind)

Help on function ttest_ind in module statsmodels.stats.weightstats:

ttest_ind(x1, x2, alternative='two-sided', usevar='pooled', weights=(None, None), value=0)
    ttest independent sample

    Convenience function that uses the classes and throws away the intermediate
    results,
    compared to scipy stats: drops axis option, adds alternative, usevar, and
    weights option.

    Parameters
    ----------
    x1 : array_like, 1-D or 2-D
        first of the two independent samples, see notes for 2-D case
    x2 : array_like, 1-D or 2-D
        second of the two independent samples, see notes for 2-D case
    alternative : str
        The alternative hypothesis, H1, has to be one of the following

           * 'two-sided' (default): H1: difference in means not equal to value
           * 'larger' :   H1: difference in means larger than value
           * 'smaller' :  H1: difference in means smaller than value

    usevar : str, 'pooled' or 'unequal'
        If ``pooled``, then the standard deviation of the samples is assumed to be
        the same. If ``unequal``, then Welch ttest with Satterthwait degrees
        of freedom is used
    weights : tuple of None or ndarrays
        Case weights for the two samples. For details on weights see
        ``DescrStatsW``
    value : float
        difference between the means under the Null hypothesis.


    Returns
    -------
    tstat : float
        test statistic
    pvalue : float
        pvalue of the t-test
    df : int or float
        degrees of freedom used in the t-test

### 2.2 (2 балла) Проверить через распределение p-value на А/А-тестах, работает ли дельта-метод для глобального среднего.

### 2.3 (2 балла) Проверить аналогично прошлым пунктам применимость t-теста для нормализованного (двойного) среднего.

### 2.4 (2 баллаа) Сделать симуляции А/А-тестов таким образом – сгенерить эффект для таргетной группы так, чтобы среднее у него было 0, а дисперсия какая-то ненулевая. Проверить, что нормализованное среднее все еще стабильно в t-тесте.

### 2.5 (2 балла) Аналогично предыдущему пункту сгенерить эффект для таргетной группы так, чтобы среднее у него было 0 и не-нулевая дисперсия, но при этом средний эффект на пользователя был скоррелирован с кол-вом заказов. Проверить, работает ли t-тест для нормализованного среднего